@model IPagedList<MvcPagingSample.Models.Product>

@{
    ViewBag.Title = "IndexAjax";
}

<h2>@ViewBag.Title</h2>

<div id="gridcontainer">
    @Html.Partial("_ProductGrid", Model)
</div>


@section Scripts {
    <script>
        $(function () {

            $('a').on('click', function () {
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("Click")',
                    data: { id: $(this).attr('id') },
                    dataType: 'json',
                    success: function (data) {

                    },
                    error: function (jqXHR) {
                        alert("發生錯誤: " + jqXHR.status);
                    }
                })
            });

            $('.col-set').attr('style', 'display: table;width: 100%;');
        });
    </script>
}